<!DOCTYPE html>
<html lang="en">
<head>
    <title>OG Image</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.opendor.me/css/app.css" rel="stylesheet"/>
    <style>
        body {
            background-image: url("{{ baseUrl }}/bg-fog.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: bottom;
        }
    </style>
</head>
<body class="antialiased h-screen bg-white">
<h1>{{ title }}</h1>
<p>{{ description }}</p>
</body>
</html>
